* {
    box-sizing: border-box;
}
body {
    background-color: rgb(95, 126, 126);
    background-image: url(../images/watercolor-brush-texture-for-photoshop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-wrapper {
    background-color: rgb(190, 225, 241);
    
}
.right, 
.hide-on-med-and-down {
    width: 15%;
}
a {
    lin
}
/* Floating Cards  */
.cards {
    display: flex;
    justify-content: space-between;
}
.card-img {
    width: 150px;
    height: 150px;
}
.card-content {
    height: 150px;
}
.brand-logo {
    width: 250px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}
#box1 {
    width: 200px;
    height: 400px;
    margin-top: 30px;


}

#r1{
    height:100px;
}

.p1{
    font-size: 25px;
    font-weight: bold;
    margin-left: 80px;
    text-justify: center;
    /* text-shadow: 3px 2px grey; */
}


#bx1{
    width: 250px;
    height:250px;
}
.circle {
    padding:30px;
}























