* {
    box-sizing: border-box;
}
body {
    background-color: white;
    background-image: url(../images/watercolor-brush-texture-for-photoshop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.nav-wrapper {
    background-color: rgb(85, 180, 224);
    
}
.right, 
.hide-on-med-and-down {
    width: 15%;
}
.brand-logo {
    width: 250px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}
.container {
    margin-top: 200px;
}
#box1 {
    width: 200px;
    height: 400px;
    margin-top: 30px;


}

#r1{
    height:100px;
}

.p1{
    font-size: 25px;
    font-weight: bold;
    text-justify: center;
}


#bx1 {
    width: 250px;
    height:250px;
}
.circle {
    padding:35px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color:rgb(21, 181, 235);
    opacity: 0.3;
    color: rgb(3, 3, 3);
    text-align: center;
}























